@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
html {
  font-family: Roboto, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
